*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

aside{
  background-color: #c5c5c5;
  height: 100%;
  min-width: 330px;
  width: 30%;
  overflow-y: auto;
  float: left;
  border-right: 1px solid #bebcbc;
}

main{
  height: 100%;
  width: 70%;
  left: 450px;
}

img{
  max-width: 100%;
  border-radius: 50%;
  width: 50px;
}

.main-bg{
  height: 100vh;
  background: rgb(210,219,220);
  background: linear-gradient(0deg, rgba(210,219,220,1) 0%, rgba(221,219,209,1) 100%); 
}

.bg-line{
  height: 15vh;
  background-color: #009688;
}

.container{
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 98vh;
}


/* ASIDE */
/* NAVBAR */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background-color: #eaeaea;
}
/* profile */
.profile{
  display: flex;
  align-items: center;
}
.profile img{
  margin:0px 10px;
}
/* action */
.action i{
  padding: 0 6px;
  font-size: 1.2rem;
  color: #b1b1b1;
}
.action i:last-child{
  margin-right: 10px;
}
/* notification */
.notification{
  display: flex;
  align-items: center ;
  height: 75px;
  background-color: #8edafc;
}

.bell{
  background-color: white;
  color: #8edafc;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 20px;
}

.bell i{
  font-size: 1.3rem;
  line-height: 40px;
}

.text u{
  color:#77a1a0 ;
}
/* search */
.search{
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #fafafa;
}

.search i{
  background-color: white;
  width: 80px;
  height: 70%;
  text-align: center;
  margin-left: 10px;
  line-height: 28px;
  box-shadow: 0px 0px 2px #dfdfdf;
  color: #b1b1b1 ;
}

#find{
  margin: 0 auto;
  margin-right: 10px;
  padding-left: 10px;
  width: 90%;
  height: 70%;
  border: none;
  box-shadow: 0px 0px 2px #dfdfdf;
}
/* user */
.contact{
  height: calc(100% - 180px);
  overflow-y:scroll;
}

.contact .profile{
  height: 90px;
  background-color: #fafafa;
}

.contact .profile.active{
  background-color: #e9ebeb;
}

.contact img{
  width: 65px;
}

.contact-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-info .text{
  margin-bottom: 35px;
}

.text p:last-child{
  padding-top: 5px;
  color: #bdbdbd;
}

.hours{
  padding-right: 5px;
  font-size: 0.75rem;
  justify-content: flex-end;
  color: #bdbdbd;
}

/* MAIN */
.header{
  height: 65px;
  background-color: #eaeaea;
}

.chat{
  height: calc(100% - 130px);
  overflow-y:scroll;
  background-image: url("../img/mine.jpg");
}

.input-msg{
  height: 65px;
  background-color: #eaeaea;
}