*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.main-bg{
  height: 100vh;
  background-color: #d6dbd8;
}

.bg-line{
  height: 15vh;
  background-color: #009688;
}

.container{
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 98vh;
}

aside{
  background-color: #c5c5c5;
  height: 100%;
  width: 30%;
  overflow-y: auto;
  float: left;
}

main{
  background-color: aquamarine;
  height: 100%;
  width: 70%;
  left: 450px;
}

/* ASIDE */
.navbar{
  height: 65px;
  background-color: #eaeaea;
}

.notification{
  height: 75px;
  background-color: #8edafc;
}

.search{
  height: 40px;
  top: 65px;
  background-color: #ffffff;
}

.contact{
  height: calc(100% - 180px);
  overflow-y:scroll;
}


/* MAIN */
.header{
  height: 65px;
  background-color: #eaeaea;
}

.chat{
  height: calc(100% - 130px);
  overflow-y:scroll;
  background-image: url("../img/mine.jpg");
}

.input-msg{
  height: 65px;
  background-color: #eaeaea;
}