<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  <!-- FONTAWEOSME -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- SCRIPT -->
  <script src="js/app.js" defer></script>
  <!-- VUE -->
  <script src="https://unpkg.com/vue@3"></script>

  <title>Boolzapp</title>

</head>
<body>

  <!-- MAIN BG -->
  <div class="main-bg">

    <!-- LINE BG -->
    <div class="bg-line">

      <!-- APP -->
      <div id="app">

        <div class="container">
  
          <!-- ASIDE -->
          <aside>
    
            <!-- NAVBAR -->
            <div class="navbar">
      
              <div class="profile">
                <img src="./img/avatar_io.jpg" alt="avatar_io">
                <span>Sofia</span>
              </div>
      
              <div class="action">
                <i class="fa-regular fa-circle"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
      
            </div>
  
            <!-- NOTIFICATION -->
            <div class="notification">

              <div class="bell">
                <i class="fa-solid fa-bell-slash"></i>
              </div>

              <div class="text">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <u>Attiva notifche desktop</u>
              </div>

            </div>
  
            <!-- SEARCH BAR -->
            <div class="search">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input id="find" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
  
            <!-- CONTACT -->
            <div class="contact">

              <!-- USER PROFILE -->
              <div class="user" v-for="(contact, index) in contacts">

                <div class="profile" 
                :class="{'active': index === activeContact}"
                @click="changeContact(index)">
                  <img :src="contact.avatar" :alt="contact.avatar">
  
                  <div class="contact-info">
                    <div class="text">
                      <p>{{contact.name}}</p>
                      <p>Ultimo messaggio inviato</p>
                    </div>
  
                    <div class="hours">
                      <span>12:00</span>
                    </div>
                  </div>
                </div>

              </div>

              
            </div>
  
          </aside>
          <!-- /ASIDE -->
      
          <main>
            
            <!-- HEADER -->
            <div class="header">
              <div class="profile">
                <img src="./img/avatar_1.jpg" alt="avatar_1">
                
                <div class="contact-info">
                  <div class="text">
                    <p>Michele</p>
                    <p>Ultimo accesso oggi alle 12:00</p>
                  </div>

                  <div class="action">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- CHAT -->
            <div class="chat" :class="{'active-chat': index === activeChat}" v-for="(message, status, index) in contacts">

              <div class="msg send">
                  <p>{{contacts[activeContact].messages[0].message}}</p>
                  <span>12:00</span>
              </div>

              <div class="msg">
                  <p>Tapposto, te?</p>
                  <span>12:00</span>
              </div>
              
            </div>
  
            <!-- INPUT MSG -->
            <div class="input-msg">
              <div class="emoji">
                <i class="fa-regular fa-face-smile"></i>
              </div>
              <input id="msg-bar" type="text" placeholder="Scrivi un messaggio">
              <div class="rec">
                <i class="fa-solid fa-microphone"></i>
              </div>
              
            </div>

          </main>
  
        </div>

      </div>

    </div>

  </div>

</body>
</html>